* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

html, body {
    height: 100%;
    width: 100vw;
}

.bg {
    background-image: url("../../forward-3210935_1920.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

main {
    width: 100%;
}

.mt-1 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-5 {
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}